::-webkit-scrollbar{
    width: 0;
}

/* Блок с логотипом, названием сайта и его описание. */
.backgraund
{
    background-image: url(../image/pngwing.com.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}
.main
{
    background-image: linear-gradient( #f9e79b, #f1b5b8);
}
.main-title
{
    font-family: "Akaya Kanadaka";
    font-size: 72px;
    font-weight: 700;
    color: #340000;
}
.main-description
{
    font-family: "Lobster";
    font-size: 30px;
    margin-top: -20px;
    margin-right: 12px;
    color: #340000;
}
.main-sub-description
{
    font-family: "Open Sans";
    font-size: 20px;
    margin-top: 10px;
    color: #340000;
}

/* Список жанров и книг*/

.list_a_works
{
    background-image: linear-gradient(#f1b5b8, #f9e79b); 
}

.genre-block
{
    width: 100%;
    height: 120vh;
}

.dropdown-content-hide
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 50%;
    position: absolute;
    left: -28%;
    height: 50%;
    width: 50%;
    transition: left 0.3s ease-in-out;

}

.dropdown-content-visible
{
    gap: 32px;
    /* border-radius: 15px; */
    display: flex;
    /* max-width: 73%; */
    position: absolute;
    /* left: 15%; */
    height: 100%;
    width: 80%;
    transition: left 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 60px;
    border-color: #340000;
    scale: initial;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.book-div{
    padding: 20px;
    width: 80%;
    margin-left: 20px;
    height: 220px;
    /* gap: 6px; */
    padding-top: 10px;
    background: bisque;
    border-radius: 10px;
    box-shadow: 10px 10px 27px #340000;
    margin-top: 30px;
    font-size: 20px;
}

.genre-div
{
    display: flex;
    width: 17vw;
    color: #340000;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    height: 10vh;
    border-color: #340000;
    border-style: solid;
}

.custom_button
{
    cursor: pointer;
    width: 180px;
    font-size: 20px;
    height: 40px;
    border-radius: 15px;
    border-color: #340000;
    background-color: transparent;
    color: #340000;
}

.list-block
{
    display: flex;
    justify-content: center;
    height: 200px;
}

.book-block
{
    width: 70%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #906d6d;
    padding: 10px;
    border-color: #582d2d00;
    margin-top: 10px;
}

.book {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .name_book:hover
  {
    color: red;
  }