/* Блок с логотипом, названием сайта и его описание. */
.backgraund
{
    background-image: url(../image/pngwing.com.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}
.main
{
    background-image: linear-gradient( #f9e79b, #f1b5b8);
}
.main-title
{
    font-family: "Akaya Kanadaka";
    font-size: 72px;
    font-weight: 700;
    color: #340000;
}
.main-description
{
    font-family: "Lobster";
    font-size: 30px;
    margin-top: -20px;
    margin-right: 12px;
    color: #340000;
}
.main-sub-description
{
    font-family: "Open Sans";
    font-size: 20px;
    margin-top: 10px;
    color: #340000;
}

/* Список жанров и книг*/

.list_a_works
{
    background-image: linear-gradient(#f1b5b8, #f9e79b); 
}

.list_a_works-block
{

}

.genres-block
{

}

.list-block
{

}

.dropdown-content-hide
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 50%;
    position: absolute;
    left: -28%;
    height: 50%;
    width: 50%;
    transition: left 0.3s ease-in-out;

}

.dropdown-content-visible
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 73%;
    position: absolute;
    left: 15%;
    height: 50%;
    width: 80%;
    transition: left 0.3s ease-in-out;
    cursor: pointer;

}

.genre-div
{
    display: flex;
    width: 17vw;
    color: #340000;
    background-color: antiquewhite;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.custom_button
{
    cursor: pointer;
}