.main_title
{
    background-image: linear-gradient(#f9e79b, #f1b5b8);

}

.main_title-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../image/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: center;
}

.title
{
    font-size: 40px;
    margin-top: 150px;
}

.p p
{
    font-size: 25px;
    padding: 27px;
    line-height: 1.7;
}

.p h4
{
    font-size: 30px;
}

.policy_soft
{
    background-image: linear-gradient( #f1b5b8, #f9e79b);
}

.policy_soft-block
{
    margin: 0 200px 0 200px;
    list-style-type: none;
}