.rules{
    margin-top: 20px;
    width: 700px;
}

.rules span{
    font-size: x-large;
}

.rules h1{
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
}

.rules::-webkit-scrollbar{
    width: 0;
}