.rules{
    margin-top: 20px;
    width: 700px;
    font-size: x-large;
}

li{
    list-style-type: none;
}

.main-title
{
    background-image: linear-gradient(#f9e79b, #f1b5b8);
}

.p p
{
    font-size: 20px;
}

.p h4
{
    font-size: 30px;
}

.policy_soft
{
    background-image: linear-gradient( #f1b5b8, #f9e79b);
}

.policy_soft-block
{
    font-size: 25px;
    margin: 0 200px 0 200px;
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 255, 110);
    height: 200px;
}

.block img{
    height: 170px;
}